extends layout

block content
  .container
    .qrcode-form
      h3.txt= title
      div(id="login-qrcode")
      .info
       h5(id="info",class="txt")
      input(type="hidden",id="qrcode-value",value="#{qrcode}")
  script(data-main="/assets/scripts/controllers/index",src="/assets/vendor/requirejs/require.js")
