wechat:
  token: 'sdfadfasfwewrewervcxvxcv'
  encodingAesKey: 'OrV1UD4i7luPoz4co2hEBFkvL88hooFXzzUoMpEAiut'
  corpId: 'wx7e068dc8d0c5fa59'
  corpSecret: '8qv7lI6FZSR9CvKlIh7MX5I13Hv3YmNVK7XX2ASRqtIH6kxKTti1yKIukmKtSUvD'
  events:                # optional
    subscribe:
      type: 'callback'
    unsubscribe: 
      type: 'text'
      words: 'byebye'
  messages: [             # optional
    {
      match: '.*'
      type: 'callback'    # or tuling or text
    }
  ]
  menu: [                # optional
    {
      'type': 'click'
      'name': '主菜单1'
      'key': 'level1_menu'
    }
    {
      'name': '主菜单2'
      'sub_button': [
        {
          'type': 'view'
          'name': '百度一下'
          'url': 'http://www.baidu.com/'
        }
        {
          'type': 'click'
          'name': '赞一下我'
          'key': 'star_menu'
        }
      ]
    }
  ]    

callback:
  url: 'http://abc.com/callback'
  eventUrl: 'http://abc.com/callback1'  # callback must contain either eventUrl or url
  messageUrl: 'http://abc.com/callback2' # callback must contain either messageUrl or url
  token: 'another-token'  # optional
tuling:
  key: ''
  url: 'http://www.tuling123.com/openapi/api' 
