wechat:
  apps: [
    id: 4
    token: ''
    encodingAesKey: ''
    corpId: ''
    corpSecret: ''
    events:                # optional
      subscribe:
        type: 'callback'
      unsubscribe: 
        type: 'text'
        words: 'byebye'
    messages: [             # optional
      {
        match: '.*'
        type: 'callback'    # or tuling or text
      }
    ]  
  ]

  menu: [                # optional
    {
      'type': 'click'
      'name': '主菜单1'
      'key': 'level1_menu'
    }
    {
      'name': '主菜单2'
      'sub_button': [
        {
          'type': 'view'
          'name': '百度一下'
          'url': 'http://www.baidu.com/'
        }
        {
          'type': 'click'
          'name': '赞一下我'
          'key': 'star_menu'
        }
      ]
    }
  ]    

tuling:
  key: ''
  url: 'http://www.tuling123.com/openapi/api' 
