wechat:
  apps: [
    id: 4
    token: ''
    # callbackToken: ''
    encodingAesKey: ''
    corpId: ''
    corpSecret: ''
    events:                # optional
      subscribe:
        type: 'callback'
      unsubscribe: 
        type: 'text'
        words: 'byebye'
    messages: [             # optional
      {
        match: '.*'
        type: 'callback'    # or tuling or text
      }
    ]  
  ]   

tuling:
  key: ''
  url: 'http://www.tuling123.com/openapi/api' 
